body{
  background-color: #00000;
  margin: 0;
  padding: 0;
  background-image: url("img/bg.jpg");
}
.search {
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.search1 {
  padding:6px 15px 6px 15px;
  margin:3px;

}
.rounded {
  border-radius:15px;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}
